.projects-card {
  background: var(--dark-theme-card-background);
  
  width: 350px;
  max-width: 350px;
  
  height: 400px;
  max-height: 400px;

  padding: 30px;
  margin: 20px 10px;

  border-bottom: 4px solid #121214;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  text-align: center;

  transition: 0.2s ease-in-out;

  position: relative;
  overflow: hidden;
}

.projects-card:hover {
  border-bottom: 4px solid #ffffff;
  transform: translateY(-5px);
}

.projects-card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.projects-card-title h1 {
  font-size: 33px;
  color: white;

  position: relative;
  z-index: 10;
}

.projects-card-title p {
  font-weight: 400;
  font-size: 15px;
  margin: 20px auto;

  position: relative;
  z-index: 10;
}


.projects-card-icon {
  margin-bottom: 10px;
  margin-left: -210px;
  opacity: 0.07;
  color: rgb(255, 255, 255);
  position: absolute;
}

.projects-card-languages h3{
  margin: 10px;
  font-size: 12px;
  font-weight: 100;
  color: #505050;
}

/* .projects-card-languages span {
  background: #04D361;
  padding: 5px 20px 4px;
  font-size: 16px;
  border-radius: 30px;
  color: black;
} */

.projects-card-languages-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  margin: auto;
}

.projects-card-languages-image img {
  width: 35px;
  height: 35px;

  margin: 0px 5px;
}


.projects-card-buttons {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.project-card-button-title {
  font-size: 12px;
  font-weight: 100;

  color: #ffffff;
  text-align: center;
  margin-bottom: 0.5rem;
}

.projects-card-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  text-decoration: none;
  border-radius: 8px;

  background: #fff;
  color: rgb(17, 17, 17);

  padding: 0.7rem;
  margin: 5px;

  width: 100%;

  transition: 0.3s ease-in-out;
}

.projects-card-button:hover {
  width: 300%;
  background: #04D361;
}

.wave-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50px) translateX(-180px) rotate(260deg);
  opacity: 0.035;
  width: 30rem;
}