.projects-card {
  background: var(--cardBackgroundDarker);
  
  width: 350px;
  max-width: 350px;
  
  height: 400px;
  max-height: 400px;

  padding: 30px;
  margin: 20px 10px;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  text-align: center;

  transition: 0.2s ease-in-out;

  position: relative;
  overflow: hidden;
}

.projects-card:before,
.projects-card:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 95px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--background);
  z-index: 3;
  overflow: hidden;
}

.projects-card:before {
  left: -30px;
}

.projects-card:after {
  right: -30px;
}

.projects-card:hover {
  transform: translateY(-5px);
}

.projects-card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.projects-card-title h1 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--main);
}

.projects-card-title p {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 15px;
  margin: 20px auto;

  min-height: 60px;
  max-height: 60px;

  position: relative;
  z-index: 10;

  overflow: hidden;
  text-overflow: ellipsis;
}


.projects-card-icon {
  position: absolute;
  top: 0;
  right: 0;

  max-width: 280px;
  max-height: 280px;

  margin-top: -10px;
  margin-right: -100px;

  opacity: 0.04;

  color: var(--main);
}

.projects-card-languages h3{
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 100;
  color: #505050;
}

.projects-card-languages-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  margin: auto;
}

.projects-card-languages-image div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-card-languages-image img {
  width: 35px;
  height: 35px;

  margin: 0px 7px 5px;
}

.projects-card-languages-image span {
  font-size: 0.7rem;
  font-weight: 600;
  color: var(--main);
}


.projects-card-buttons {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.project-card-button-title {
  font-size: 12px;
  font-weight: 100;

  color: #ffffff;
  text-align: center;
  margin-bottom: 0.5rem;
}

.line-divisor {
  border-bottom: 2px dashed var(--background);
  width: 120%;
  margin: 20px 0px;
}

.projects-card-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  text-decoration: none;
  border-radius: 5px;

  background: #fff;
  color: rgb(17, 17, 17);

  padding: 0.7rem;
  margin: 5px;

  width: 100%;

  transition: 0.3s ease-in-out;
}

.projects-card-buttons .github {
  width: 20%;
  flex: 1;

  display: flex;
  justify-content: center;
}

.projects-card-buttons .browser {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--background);
  background: var(--main);
}

.projects-card-buttons .browser :first-child {
  margin-right: 5px;
  margin-left: -5px;
}

.projects-card-buttons a:hover {
  transform: translateY(-3px);
}


/*  */

.stockapp-card {
  position: relative;
  padding: 2rem;

  min-width: 53rem;
  max-width: 53rem;

  margin: 20px 100%;

  background: linear-gradient(40deg, rgba(127, 91, 230, 0.5) 10%, rgba(58, 178, 227, 0.5) 40%, rgba(51, 153, 51, 0.5));

  border-radius: 20px;
  
  transition: 0.3s ease;
  overflow: hidden;
}

.stockapp-card:hover {
  transform: translateY(-5px);
}

.stockapp-card:before,
.stockapp-card:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 95px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--background);
  z-index: 3;
  overflow: hidden;
}

.stockapp-card:before {
  left: -30px;
}

.stockapp-card:after {
  right: -30px;
}


.package-icon {
  position: absolute;
  right: 0;
  top: 10;
  margin-right: 10px;

  opacity: 0.035;
}

.stockapp-content {
  position: relative;
  z-index: 2;
}

.stockapp-top-content {
  display: flex;
}

.stockapp-top-content :last-child {
  display: flex;
}

.stockapp-top-content :last-child :first-child {
  margin-right: 10px;
  background: #61DAFB;
  padding: 1rem;
  border-radius: 8px;
}

.stockapp-top-content :last-child :last-child {
  background: rgba(140, 200, 75, 1);
  padding: 1rem;
  border-radius: 8px; 
}

.stockapp-title h1 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.stockapp-title p {
  font-weight: 600;
  color: var(--text);
  font-size: 1.1rem;
  margin-bottom: 2rem;
  max-width: 80%;
}

.stockapp-tecnologies {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.stockapp-web-info {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 3rem;
  margin-right: 3rem;
}

.stockapp-web-info span,
.stockapp-api-info span{
  border-left: 2px solid var(--main);
  padding-left: 0.7rem;

  font-weight: 600;
}

.stockapp-info-tecnologies {
  display: flex;
  margin: 0.5rem 0;
}

.stockapp-info-tecnologies p {
  margin: 0.5rem 0 0 0.7rem;
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;

  display: flex;
  align-items: center;
}

.stockapp-info-tecnologies p :first-child {
  margin-right: 5px;
}


.stockapp-info-tecnologies .reactjs {
  background: #61DAFB;
  color: black;
}

.stockapp-info-tecnologies .typescript {
  background: #3178C6;
  color: rgb(255, 255, 255);
}

.stockapp-info-tecnologies .nodejs {
  background: rgba(140, 200, 75, 1);
  color: rgb(3, 3, 3);
}

.stockapp-info-tecnologies .expressjs {
  background: #000000;
  color: rgb(255, 255, 255);
}

.stockapp-info-tecnologies .sqlite {
  background: #003B57;
  color: rgb(255, 255, 255);
}

.stockapp-card .line-divisor {
  width: 100%;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.4);
  background: none;
}

.stockapp-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  position: relative;
}

.stockapp-github-buttons {
  display: flex;
  justify-content: center;
}

.stockapp-buttons a {
  width: 12rem;
  height: 3.5rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  color: black;

  outline: none;
  transition: 0.4s ease;
}

.stockapp-buttons a:hover {
  transform: translateY(-5px);
}

.stockapp-buttons a :first-child {
  background: none;
  margin-right: 7px;
}

.stockapp-github-buttons :first-child {
  margin-right: 0.8rem;
  background: #61DAFB;
}

.stockapp-github-buttons :last-child {
  background: rgba(140, 200, 75, 1);
}

.stockapp-buttons .card-popup {
  position: absolute;
  z-index: 1;
  left: 0; 
  bottom: 0;

  margin-bottom: -1rem;
  margin-left: 15.5rem;
  padding: 1.5rem;
  
  display: flex;
  flex-direction: column;

  max-width: 380px;
  font-size: 1rem;

  background: var(--popupBackground);
  color: var(--text);

  border-radius: 8px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.stockapp-buttons .card-popup :nth-child(0),
.stockapp-buttons .card-popup :nth-child(4),
.stockapp-buttons .card-popup :nth-child(5) {
  background: var(--popupBackground);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin: 3px 0px;
  width: 150px;
}

.stockapp-buttons .card-popup span {
  font-weight: 600;
  color: var(--main);
}

.stockapp-buttons .card-popup :nth-child(4),
.stockapp-buttons .card-popup :nth-child(5) {
  color: var(--text);
  font-size: 0.9rem;
}

.stockapp-buttons .card-popup p {
  font-weight: 600;
}