.projects-card {
  background: var(--dark-theme-card-background);
  
  width: 350px;
  max-width: 350px;
  
  height: 400px;
  max-height: 400px;

  padding: 30px;
  margin: 20px 10px;

  border-bottom: 4px solid #121214;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  text-align: center;

  transition: 0.2s ease-in-out;

  position: relative;
  overflow: hidden;
}

.projects-card:hover {
  border-bottom: 4px solid #ffffff;
  transform: translateY(-5px);
}

.projects-card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.projects-card-title h1 {
  font-size: 33px;
  color: white;

  position: relative;
  z-index: 10;
}

.projects-card-title p {
  font-weight: 400;
  font-size: 15px;
  margin: 20px auto;

  position: relative;
  z-index: 10;
}


.projects-card-icon {
  margin-bottom: 10px;
  margin-left: -210px;
  opacity: 0.07;
  color: rgb(255, 255, 255);
  position: absolute;
}

.projects-card-languages h3{
  margin: 10px;
  font-size: 12px;
  font-weight: 100;
  color: #505050;
}

/* .projects-card-languages span {
  background: #04D361;
  padding: 5px 20px 4px;
  font-size: 16px;
  border-radius: 30px;
  color: black;
} */

.projects-card-languages-image {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  margin: auto;
}

.projects-card-languages-image img {
  width: 35px;
  height: 35px;

  margin: 0px 5px;
}


.projects-card-buttons {
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.project-card-button-title {
  font-size: 12px;
  font-weight: 100;

  color: #ffffff;
  text-align: center;
  margin-bottom: 0.5rem;
}

.projects-card-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  
  text-decoration: none;
  border-radius: 8px;

  background: #fff;
  color: rgb(17, 17, 17);

  padding: 0.7rem;
  margin: 5px;

  width: 100%;

  transition: 0.3s ease-in-out;
}

.projects-card-button:hover {
  width: 300%;
  background: #04D361;
}

.wave-image {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50px) translateX(-180px) rotate(260deg);
  opacity: 0.035;
  width: 30rem;
}

.stockapp-card {
  position: relative;
  padding: 2rem;
  width: 53rem;
  margin: 20px 300px;
  background: var(--dark-theme-card-background);
  border-radius: 8px;
  transition: 0.2s ease;
}

.stockapp-card:hover {
  transform: scale(1.01);
}

.package-icon {
  position: absolute;
  right: 0;
  top: 10;

  opacity: 0.02;
}

.stockapp-content {
  position: relative;
  z-index: 2;
}

.stockapp-title h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.stockapp-title p {
  font-weight: 500;
  color: #04D361;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.stockapp-tecnologies {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.stockapp-web-info {
  border-right: 1px solid rgb(56, 56, 56);
  padding-right: 3rem;
  margin-right: 3rem;
}

.stockapp-web-info span,
.stockapp-api-info span{
  border-left: 2px solid #04D361;
  padding-left: 0.7rem;

  font-weight: 600;
}

.stockapp-info-tecnologies {
  display: flex;
  margin: 0.5rem 0;
}

.stockapp-info-tecnologies p {
  margin: 0.5rem 0 0 0.7rem;
  padding: 0.4rem 1rem;
  font-size: 0.75rem;
  border-radius: 50px;
  font-weight: 600;

  display: flex;
  align-items: center;
}

.stockapp-info-tecnologies p :first-child {
  margin-right: 5px;
}

.stockapp-info-tecnologies .reactjs {
  background: #61DAFB;
  color: black;
}

.stockapp-info-tecnologies .typescript {
  background: #3178C6;
  color: rgb(255, 255, 255);
}

.stockapp-info-tecnologies .nodejs {
  background: #339933;
  color: rgb(3, 3, 3);
}

.stockapp-info-tecnologies .expressjs {
  background: #000000;
  color: rgb(255, 255, 255);
}

.stockapp-info-tecnologies .sqlite {
  background: #003B57;
  color: rgb(255, 255, 255);
}

.stockapp-card .line-divisor {
  margin-left: -32px;
  width: 53rem;
}

.stockapp-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.stockapp-github-buttons {
  display: flex;
  justify-content: center;
}

.stockapp-buttons a {
  width: 12rem;
  height: 3.5rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
  color: black;

  outline: none;
  transition: 0.4s ease;
}

.stockapp-buttons a:hover {
  transform: translateY(-5px);
  filter: brightness(0.8);
}

.stockapp-buttons a :first-child {
  background: none;
  margin-right: 7px;
}

.stockapp-github-buttons :first-child {
  margin-right: 0.8rem;
  background: #61DAFB;
}

.stockapp-github-buttons :last-child {
  background: #339933;
}