.notfound-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: 100vh;
  margin: auto;
}

.notfound-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 5rem;
}

.notfound-title span strong {
  font-size: 3rem;
}

.notfound-title h1 {
  font-size: 10rem;
}

.notfound-title p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  font-weight: 600;
}