.button-back-top {
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: none;
  border: none;
  color: var(--text);
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 100px -30px;
  outline: none;
  cursor: pointer;
  text-shadow: 0 0 10px rgb(0, 0, 0);
  transform: rotate(-90deg);
  transition: 0.4s ease;
}

.button-back-top :first-child, 
.button-back-top :last-child {
  color: var(--main);
}

.button-back-top:hover {
  transform: rotate(-90deg) translateX(10px);
}
