.repositories-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px auto 50px;
}

.repositories-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 30px auto;
}

.repositories-title h1{
  font-size: 60px;
  font-weight: 700;
}

.repositories-title p {
  font-size: 20px;
  margin: 20px auto;
}

.repositories-list {
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}