#sobre {
  padding: 50px;
}

.sobre-container {
  width: 80rem;
  margin: auto;

  background: url('../../../media/images/background-codelines.svg') no-repeat;
  background-size: cover;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sobre-container h1 {
  font-size: 50px;
  line-height: 50px;
  max-width: 400px;
  margin-left: 30px;
}

.sobre-card {
  position: relative;
  width: 60rem;
  padding: 50px 50px;
  border-radius: 8px;

  margin: 100px auto 50px;

  background: var(--cardBackground);
  box-shadow: 0 0 20px var(--shadowColor);
}


.sobre-card-image {
  position: relative;
  top: 0;

  margin-top: -120px;
  margin-left: -100px;
  margin-bottom: 30px;

  border-radius: 10px;
}

.image-1 {
  width: 300px;
  transform: rotate(-3deg);
  box-shadow: 0px 0px 20px var(--shadowColor);
}

.sobre-card-title {
  position: absolute;
  top: 0;
  right: 0;

  margin: 50px;

  text-align: end;
}

.sobre-card-information {
  clear: both;
}

.sobre-card-information :first-child {
  color: var(--main);
}

.sobre-card-information p {
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 30px;
  color: var(--text) !important;
}

.sobre-card-information p a {
  text-decoration: underline;
}