.contact-container {
  width: 70%;

  padding: 100px 30px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-cards {
  max-width: 320px;
  margin-right: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  margin: 10px;

  border-radius: 8px;
  background: var(--cardBackground);
  box-shadow: 0 0 20px var(--shadowColor);
  transition: 0.4s ease;
}

.contact-title {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  text-align: end;
}

.contact-title h1 {
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 30px;

  width: 300px;
}

.contact-title p {
  font-size: 20px;
  line-height: 30px;
}

.contact-card .icon {
  color: var(--text);
  transition: 0.4s ease;
}

.github-icon:hover {
  background: rgb(0, 0, 0);
}
.github-icon:hover .github {
  color: white;
}

.linkedin-icon:hover {
  background: rgb(25, 69, 151);
}
.linkedin-icon:hover .linkedin {
  color: white;
}

.instagram-icon:hover {
  background: rgb(255, 37, 146);
}
.instagram-icon:hover .instagram{
  color: white;
}

.email-icon:hover {
  background: rgb(255, 58, 58);
}
.email-icon:hover .email{
  color: white;
}
