.projects-container {
  width: 80%;
  margin: auto;
  padding: 4rem 3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.projects-title h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.projects-title p {
  font-size: 20px;
  margin-bottom: 50px;
}

.projects-cards {
  padding: 20px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-button-repositories {
  width: 20rem;
  background: var(--main);
  color: var(--background);
  
  padding: 1.5rem 2rem;
  margin-top: 20px;
  
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  
  border: none;
  border-radius: 5px;
  
  cursor: pointer;
  transition: 0.3s ease;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.projects-button-repositories:hover {
  filter: brightness(0.9);
  transform: translateY(-5px);
}

/* CAROUSEL STYLE */
.carousel-slider {
  margin-left: -10px !important;
  margin-bottom: 20px !important;
}

.carousel .slider-wrapper {
  overflow: visible !important;
}

.slider-wrapper {
  margin-left: -20px !important;
}

.slider-wrapper ul :first-child {
  margin-left: 0 !important;
}

.slider-wrapper ul :last-child {
  margin-right: 0 !important;
}

.slide {
  background: none !important;
  height: 400px;
  opacity: 0.4;
  transform: scale(0.9);
  transition: 0.4s ease-in-out;
  filter: saturate(0.3);
  cursor: pointer !important;
}

.selected {
  opacity: 1;
  transform: scale(1);
  position: relative;
  z-index: 5;
  margin: 0 20px !important;
  filter: saturate(1);
}

.carousel {
  overflow: visible !important;
}

.control-dots {
  margin: 0px 5px -40px !important;
  outline: none !important;
}

.dot {
  background: var(--text) !important;
  box-shadow: none !important;
}

.control-dots .selected {
  width: 20px !important;
  border-radius: 30px !important;
  margin: 0 5px !important;
  outline: none !important;
  transition: 0.3s ease-in-out !important;
  background: var(--main) !important;
}