
.header-mainpage-container { 
  background: url('../../images/background-codelines.svg') no-repeat;
  background-size: 800px;
  background-position: 30% -7%;

  padding: 100px 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

}

.header-mainpage-information-card {
  background: var(--dark-theme-card-background);
  max-width: 700px;

  text-align: center;
  margin: 80px auto 0px;
  padding: 90px 50px 30px;

  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.header-mainpage-information-card h1 {
  font-weight: 900;
  font-size: 28px;
}

.header-mainpage-information-card p {
  font: 24px;
}

.header-mainpage-information-card img {
  width: 200px;
  min-width: 200px;
  max-width: 200px;
  height: 200px;
  min-height: 200px;
  max-height: 200px;
  

  margin-top: -190px;
  margin-bottom: 30px;

  border: 10px solid rgb(98, 53, 246, 0.4);
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(98, 53, 246, 0.4);

}

.seemore-button {
  border: 2px solid #04D361;
  border-radius: 50px;
  color: #04D361;

  min-width: 220px;
  max-width: 220px;
  width: 220px;

  font-size: 16px;
  font-weight: 900;
  text-decoration: none;

  margin-top: 20px;
  padding: 15px 30px;

  transition: background-color 0.3s ease;
}

.seemore-button:hover {
  background: #04D361;
  color: rgb(32, 31, 36);
}


.habilities-container {
  width: 80%;

  padding: 70px 30px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.habilities-title {
  width: 500px;
}

.habilities-title h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 30px;

  width: 300px;
}

.habilities-title p {
  font-size: 20px;
  line-height: 30px;
}

.habilities-cards {
  width: 600px;
  padding: 0px 50px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.habilities-card {
  padding: 30px;
  margin: 10px;

  border-radius: 3px;
  background: rgb(32, 31, 36);
}

.html:hover > .html-icon {
  color: rgb(243, 121, 6);
}

.css:hover > .css-icon {
  color: rgb(6, 128, 243);
}

.js:hover > .js-icon {
  color: rgb(243, 227, 6);
}

.reactjs:hover > .reactjs-icon {
  color: rgb(6, 215, 243);
}

.nodejs:hover > .nodejs-icon {
  color: rgb(0, 255, 34);
}

.django:hover > .django-icon {
  color: rgb(5, 102, 18);
}


.projects-container {
  width: 90%;
  margin: auto;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.projects-title {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

.projects-title h1 {
  font-size: 40px;
}

.projects-title p {
  font-size: 20px;
  margin-bottom: 50px;
}

#projects-cards {
  padding: 20px;
  margin: auto;

  width: 100%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.projects-button-repositories {
  width: 300px;
  background: #04D361;
  color: rgb(21, 20, 24);

  padding: 15px 50px;
  margin-top: 20px;

  text-decoration: none;
  font-size: 18px;
  font-weight: 900;

  border: none;
  border-radius: 50px;

  cursor: pointer;
  transition: 0.3s ease;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.projects-button-repositories:hover {
  width: 320px;
  letter-spacing: 1px;
}


.contact-container {
  width: 70%;

  padding: 100px 30px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-cards {
  max-width: 320px;
  margin-right: 100px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.contact-card {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px;
  margin: 10px;

  border-radius: 3px;
  background: rgb(32, 31, 36);

  transition: background-color 0.4s ease-in-out;
}

.contact-title {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  text-align: end;
}

.contact-title h1 {
  font-size: 60px;
  line-height: 55px;
  margin-bottom: 30px;

  width: 300px;
}

.contact-title p {
  font-size: 20px;
  line-height: 30px;
}

.icon {
  color: #fff;
}

.github-icon:hover {
  background: rgb(0, 0, 0);
}

.linkedin-icon:hover {
  background: rgb(25, 69, 151);
}

.instagram-icon:hover {
  background: rgb(255, 37, 146);
}

.email-icon:hover {
  background: rgb(255, 58, 58);
}