.header-mainpage-container { 
  background: url('../../media/images/background-codelines.svg') no-repeat;
  background-size: 800px;
  background-position: 0% -7%;
  padding: 80px 0px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;

  margin: auto;
  width: 70%;
  text-align: center;
}

.header-mainpage-title {
  text-shadow: 0 0 10px var(--shadowColor);
}

.header-mainpage-title img {
  width: 220px;
  min-width: 220px;
  max-width: 220px;
  height: 220px;
  min-height: 220px;
  max-height: 220px;

  -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0));
  -webkit-mask-size: 100% 75%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: left top, left bottom;

  margin-bottom: -55px;

  border: 10px solid rgb(98, 53, 246, 0.4);
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(98, 53, 246, 0.4);

}

.header-mainpage-title h1 {
  font-size: 3.2rem;
  font-weight: 700;
}

.header-mainpage-title h2 {
  font-size: 2.2rem;
}

.header-mainpage-title p {
  width: 42rem;
  font-size: 16px;
  margin: 2.5rem auto;
}


.header-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header-buttons :first-child, .header-buttons :last-child {
  margin: 1rem 0.5rem;
  transition: .3s ease;

  padding: 1.5rem;
  width: 16rem;

  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  
  padding: 1.7rem 1.5rem;

  border-radius: 5px;
  
  transition: 0.3s ease;
}

.seemore-button {
  color: var(--background);
  background: var(--main);

}

.seemore-button:hover {
  filter: brightness(0.9);
  transform: translateY(-5px);
}

.continuesee-button {
  color: var(--background);
  background: var(--text);


}

.continuesee-button:hover {
  filter: brightness(0.9);
  transform: translateY(-5px);
}
