@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#navbar {
  padding: 20px 0px;
  width: 100%;
  background: var(--cardBackground);
  box-shadow: var(--boxShadow);
  transition: 0.5s ease-in-out;
  animation: showNav 0.7s ease-in-out;
}

#navbar-fixed {
  position: fixed;
  padding: 20px 0px;
  top: 0;
  width: 100%;
  background: var(--popupBackground);
  box-shadow: var(--boxShadow);
  backdrop-filter: blur(6px);
  animation: showNavFixed 0.7s ease-in-out;
  z-index: 99;
}

.navbar-container {
  width: 80%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: var(--text);
  cursor: poiter;
}

.navbar-logo img {
  width: 20px;
  margin-right: 1px;
}

.navbar-logo h1 {
  font-family: 'Staatliches';
  
}

.navbar-links {
  display: flex;
}

.navbar-links-sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar-links-sections li {
  list-style: none;
  margin: 0px 15px;
}

.navbar-links-sections li a {
  color: var(--text);

  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;

  transition: 0.3s;

  cursor: pointer;
}

.navbar-links-sections li a:hover{
  color: var(--main);
}

.theme-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding-left: 30px;
  border-left: 1px solid var(--text);
}

.theme-switcher :first-child,
.theme-switcher :last-child {
  margin: 0 10px;
}


@keyframes showNavFixed {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}