@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

#navbar {
  padding: 20px 0px;
  width: 100%;
  background: var(--dark-theme-card-background);

}

.navbar-container {
  width: 70%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: white;
  cursor: poiter;
}

.navbar-logo img {
  width: 20px;
  margin-right: 1px;
}

.navbar-logo h1 {
  font-family: 'Staatliches';
  
}

.navbar-links {
  display: flex;
}

.navbar-links-sections {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

.navbar-links-sections li {
  list-style: none;
  margin: 0px 10px;
}

.navbar-links-sections li a {
  color: white;

  font-weight: 700;
  font-size: 16px;
  text-decoration: none;

  transition: 0.3s;

  cursor: pointer;
}

.navbar-links-sections li a:hover,
.navbar-links-social a:hover :only-child {
  color: #04D361;
}

.navbar-links-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;

  border-left: 1px solid rgb(59, 59, 59);
}

.navbar-links-social a {
  margin: 0 0.2rem;
}
