
#footer {
  background: var(--dark-theme-card-background);
  padding: 30px;
}

.footer-container {
  width: 60%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}


.footer-left-info {
  display: flex;
  align-content: center;
  align-items: center;
}

.footer-left-info img {
  width: 20px;
  margin-right: 10px;
}

.footer-left-info p {
  font-size: 16px;
  font-weight: 500;
}

footer p strong {
  margin-left: 40px;
  font-weight: 900;
}

.footer-container a {
  border: 2px solid #04D361;
  border-radius: 50px;
  background: none;
  color: #04D361;
  padding: 5px 30px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 900;

  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  transition: background-color 0.3s ease;
}

.footer-container a:hover {
  background: #04D361;
  color: rgb(32, 31, 36);
}
