.habilities-card {
  position: relative;
  padding: 1.5rem;
  margin: 0.6rem;

  min-width: 130px;
  max-width: 130px;
  
  border-bottom: 5px solid var(--shadowColor);
  border-radius: 10px;
  background: var(--cardBackground);
  box-shadow: 0px 10px 20px var(--shadowColor);
  transition: 0.3s ease-in-out;
}

.habilities-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.habilities-card-info span {
  display: none;
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: rgb(82, 81, 81);

  display: flex;
  justify-content: center;
  align-items: center;
}

.html-icon, .css-icon, .javascript-icon, .react-icon, .typescript-icon, .nodejs-icon {
  transition: 0.1s ease-in;
}

.html:hover .html-icon {
  color: rgb(243, 121, 6);
}

.css:hover .css-icon {
  color: rgb(6, 128, 243);
}

.javascript:hover .javascript-icon {
  color: rgb(243, 227, 6);
}

.react:hover .react-icon {
  color: rgb(6, 215, 243);
}

.typescript:hover .typescript-icon {
  color: rgb(34, 140, 201);
}

.nodejs:hover .nodejs-icon {
  color: rgba(140, 200, 75, 1);
}
