.repository-card{
  background: var(--dark-theme-card-background);

  width: 320px;
  max-width: 320px;
  max-height: 400px;
  overflow: hidden;

  padding: 30px;
  margin: 20px 10px;

  border-bottom: 5px solid transparent;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  text-align: center;

  transition: 0.2s ease;
}

.repository-card:hover {
  border-bottom: 5px solid #04D361;
  transform: translateY(-5px)
}

.repository-card h1{
  font-weight: 700;
  font-size: 24px;

  width: 250px;
  display: block;

  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.repository-card p {
  color: #04D361;

  padding: 0px 10px;

  max-width: 300px;
  max-height: 80px;
  font-weight: 400;

  display: block; 
  display: -webkit-box;
  
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

}

.repository-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.repository-buttons-container a {
  width: 30%;

  max-height: 50px;

  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px 20px;
  border-radius: 7px;

  color: black;
  text-decoration: none;
  background: white;

  transition: 0.4s ease;
}

.repository-buttons-container a > span {
  display: none;
}

.repository-card:hover .repository-buttons-container a {
  width: 100%;
  justify-content: space-between;
}

.repository-card:hover .repository-buttons-container a > span {
  display: flex;
  width: 190px;
  min-width: 190px;
  font-weight: 400;
  margin-left: 10px;
}

.repository-buttons-container a:hover {
  color: #ffffff;
  background: #000000;
}


/* Wireframe */

.wireframe-description {
  width: 100%;
  margin: 20px;
  height: 70px;
  border-radius: 5px;

  /* WIREFRAME ANIMATION */
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: wireframe-animation;
  animation-timing-function: linear;
  background: #292a2b;
  background: linear-gradient(to right, #27262c 8%, #313036 38%, #27262c 54%);
  background-size: 1000px 640px;
  
  position: relative;
  
}

@keyframes wireframe-animation{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
