.repository-card{
  background: var(--cardBackgroundDarker);

  width: 400px;
  max-height: 200px;
  overflow: hidden;

  position: relative;
  padding: 30px;
  margin: 15px;

  border-radius: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  transition: 0.3s ease;
}

.repository-card::before,
.repository-card::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 140px;
  right: 85px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--background);
  z-index: 3;
  overflow: hidden;
}

.repository-card::before {
  top: -25px;
}

.repository-card::after {
  bottom: -25px;
}

.repository-card-title {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  text-align: left;
}

.repository-card h1{
  font-weight: 700;
  font-size: 1.7rem;

  margin-bottom: 10px;

  width: 230px;
  display: block;

  white-space: pre;
  text-overflow: ellipsis;
  overflow: hidden;
}

.repository-card p {
  color: var(--main);

  max-width: 300px;

  min-height: 60px;
  max-height: 60px;

  font-weight: 700;
  font-size: 1rem;

  display: block; 
  display: -webkit-box;
  
  
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;

}

.repository-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  border-left: 2px dashed var(--secundary);
  margin-left: 30px;
}

.repository-buttons-container a {
  overflow: hidden;
  
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-left: 20px;
  border-radius: 7px;

  color: var(--background);
  text-decoration: none;
  background: var(--text);

  transition: 0.4s ease;
}

.repository-buttons-container a:hover {
  transform: translateY(-5px);
}

/* Wireframe */

.wireframe-description {
  width: 90%;
  margin: 10px 5px 5px;
  height: 55px;
  border-radius: 5px;

  /* WIREFRAME ANIMATION */
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: wireframe-animation;
  animation-timing-function: linear;
  background: var(--background);
  background: linear-gradient(to right, var(--background) 8%, var(--popupBackground) 38%, var(--background) 54%);
  background-size: 1000px 640px;
  
  position: relative;
  
}

@keyframes wireframe-animation{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}
